<!DOCTYPE html>
<html>
<head>
	<title>Data Viz</title>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel = "stylesheet" href = "../static/css/map.css">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
<div class = "container-fluid parallax">
	 <nav class = "navbar opacity navbar-default navbar-toggleable-md navbar-fixed-top" id ="Home">
    <div class = "navagation">
      <a class="blue navbar-brand" id = "logo" href="#Home">Data Viz</a>

      <button onclick = "Toggle();" type = "button" class = "navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
      </button>
      
      <div class = "collapse navbar-collapse" id = "myNavBar">
        <ul class ="nav navbar-nav navbar-right" >
          <li><a class = "nav" href = '/map'> <h4 class = "nav_link">Our Data</h4></a></li>
          <li><a class = "nav" href = '#About'> <h4 class = "nav_link"> About Us </h4> </a></li>
          <li><a class = "nav" href = '#About'> <h4 class = "nav_link"> More Info </h4> </a></li>
        </ul>
      </div>

        <!--Gotta fix the Toggle ... -->
      <div id = "dropTop" class="dropdown-content">
        <a id = "all" onclick = "Toggle();" href= "#">Our Data</a>
        <a id = "NYPD" onclick = "Toggle();" href= "#">About Us</a>
        <a id = "FDNY" onclick = "Toggle();"  href= "#">More Info</a>
      </div>
    </div>
  </nav>

</div>

<div class = "container-fluid white_background">
  <center>
    <div class = ""> 
    <h1 class = "logo ">Visualize The Latest 
      <span>3</span> 
      <span> 1 </span>
      <span>1 </span> Data </h1>

       <a href= '/map'> <h1 class = "sub_logo">  Get Started </h1> </a>
    </div>
  </center>
</div>

<div class = "container-fluid blue_background">
  <div>
    <h1> The Latest Data </h1>
  </div>
</div>

<div class = "container-fluid white_background">
    <div>
    <h1> InterActive Website</h1>
  </div>
</div>

<div class = "container-fluid blue_background">
    <div>
    <h1>Find What You Want Fast</h1>
    </div>
</div>

  <!--Footer should probably use that tag.. and make the color black-->
  <div> 
    <h1>Tell A Friend.. Please</h1>
  </div>



</div>
</body>
<script src = "../static/js/map.js"> </script>
</html>
