<!DOCTYPE html>
<html>
<head>
	<title>Data Viz</title>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel = "stylesheet" href = "../static/css/map.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
<div class = "container-fluid parallax">
	 <nav class = "navbar opacity navbar-default navbar-toggleable-md navbar-fixed-top" id ="Home">
    <div class = "navagation">
      <a class="blue navbar-brand" id = "logo" href="#Home">Data Viz</a>

      <button onclick = "Toggle();" type = "button" class = "navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
      </button>
      
      <div class = "collapse navbar-collapse" id = "myNavBar">
        <ul class ="nav navbar-nav navbar-right" >
          <li><a class = "nav" href = '/map'> <h4 class = "nav_link">Our Data</h4></a></li>
          <li><a class = "nav" href = '#About'> <h4 class = "nav_link"> About Us </h4> </a></li>
          <li><a class = "nav" href = '#About'> <h4 class = "nav_link"> More Info </h4> </a></li>
        </ul>
      </div>

      <div id = "dropTop" class="dropdown-content">
        <a id = "all" onclick = "Toggle();" href= "#">All Departments</a>
        <a id = "NYPD" onclick = "Toggle();" href= "#">Police Department</a>
        <a id = "FDNY" onclick = "Toggle();"  href= "#">Fire Department</a>
        <a id = "DOHMH" onclick = "Toggle();" href= "#">Department of Health and Mental Hygiene</a>
        <a id = "DEP" onclick = "Toggle();" href= "#">Department of Environmental Protection</a>
      </div>


    </div>
  </nav>

</div>
</body>
<script src = "../static/js/map.js"> </script>
</html>
